*{
    margin: 0px;
    padding: 0px;
}


.banner_index{
    position: relative;
    left: -215px;
    top:10px;
    width: 1600px;
    height: 400px;
    overflow: hidden;

}
.imgbox_banner {
    position: relative;
    width: 9999px;
}
.imgbox_banner li{
    width: 1600PX;
    height: 400px;
    overflow: hidden;
    display: block;
    float: left;
    list-style: none;
}

.imgnav_banner{
    position: absolute;
    z-index: 100;
    width: 1600px;
    height: 20px;
    bottom:5px;
    text-align: center;
}

.imgnav_banner li{
    display: block;
    float: left;
    list-style: none;
    cursor: pointer;
    border-radius:100%;
    font-size: 15px;
    margin-left: 15px;
    width: 22px;
    height: 22px;
    text-align: center;
    background: #ccc;
    border: 1px red solid;

}
