div.main
{
	width: 900px;
	height: auto;
	margin: 0px auto;
	border:0px solid #cccccc;
}

.nav_user{
	border-bottom: 5px solid seagreen;
	height: 40px;
}
.nav_user li {
	list-style: none;
	cursor: pointer;
	border: 0px solid red;
	float: left;
	width: 100px;
	height: 35px;
	text-align: center;
	padding-top: 8px;
	margin-left: 10px;
	color: #ff9900;
	font-size: 16px;
	font-family: SimHei;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	background:seagreen;
}
p.main2
{
	font-size: 25px;
	font-family: 宋体;
	font-weight: 700;
	text-align: center;
}
img.main3
{
	display: block;
	float: right;
	border: 1px solid #cccccc;
}
p.main4
{
	font-family: 宋体;
	font-size: 14px;
	line-height: 25px;
	border: 0px solid #cccccc;
}
button.main5
{
	background: url(images/100.jpg);
	width: 105px;
	height: 42px;
	border: 0px;
	color: white;
	font-family: 宋体;
	font-size: 22px;
	margin-left: 20px;
}

#detail_comp{
	background: #EDDBC4;
	padding: 20px;
}
#sign_comp{
	background: #EDDBC4;
	padding: 20px;
}

.cell_l{
	line-height: 40px;
	text-align: right;
	width: 100px;
}