.limit{
    margin: 10px auto;
    width: 1000px;
    height: 700px;
    border: 0px solid #cccccc;
}

.limit_l{
    padding-bottom: 10px;
    width: 700px;
    height: auto;
    border: 1px solid #cccccc;
    float: left;
}
* ul{
    margin: 0px;
    padding: 0px;
}
* li{
    list-style: none;
}
* a{
    text-decoration: none;
}
.nav_user{
    margin-top: 60px;
    margin-bottom: 0px;
    border-bottom: 5px solid #379BE9;
    height: 40px;
}
.nav_user li {
    cursor: pointer;
    border: 0px solid red;
    float: left;
    width: 90px;
    height: 35px;
    margin-left: 65px;
    padding-top:3px;
    text-align: center;
    font-size: 18px;
    line-height: 35px;
    font-family: SimHei;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background:#379BE9;
    color: #aaaaaa;
}

.infor_user{
    font-size: 16px;
}
.infor_user p{
    margin: 0px;
    padding: 10px;
}


.infor_comp {
    display: none;
}
.brief_btn2{
    margin-left: 30px;
    background: #FF6701;
    width: 100px;
    height: 40px;
    margin-top: 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
}

.ended{
    display: none;
}
.butbox{
    margin-top: 10px ;
}
.but_bein{
    background: #379BE9;
    margin-left: 10px;
}
.but_ended{
    background: #379BE9;
    margin-left: 10px;

}

.favor_comp {
    display: none;
}


.limit_r{
    float: right;

    width: 280px;
    height: 350px;
}
